{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Rates{% endblock %}

{% block body %}

{#    {% for currency in allCurrencies %}#}

{#        <div><li><b>Name: </b>{{ currency.name }}</li>#}
{#            <li><b>Currency code: </b>{{ currency.currencycode }}</li>#}
{#            <li><b>Rate: </b>{{ currency.exchangerate}} gr <b>for </b>{{ currency.amount }} {{ currency.currencycode }}</li>#}
{#            <br>#}
{#        </div>#}
{#    {% endfor %}#}

{% endblock %}